<h1><%= @cat.name %>'s Data</h1>

<table>
    <tr>
        <th>Name</th>
        <th>Sex</th>
        <th>Age</th>
        <th>Color</th>
        <th>Description</th>
    </tr>
    
    <tr>
        <td><%= @cat.name %></td>
        <td><%= @cat.sex %></td>
        <td><%= @cat.age %></td>
        <td><%= @cat.color %></td>
        <td><%= @cat.description %></td>
    </tr>
</table>

<h1>Rental Requests</h1>
<% if @rental_requests.length > 0 %>
<table>
    <tr>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Status</th>
        <th>Approve or Deny</th>
    </tr>
    
    <% @rental_requests.each do |request| %>
        <tr>
            <td><%= request.start_date %></td>
            <td><%= request.end_date %></td>
            <td><%= request.status %></td>
            <% if request.status === "PENDING"%>
            <td>
                <form action="<%= approve_cat_rental_request_url(request) %>" method="post">
                    <input type="submit" value="Approve">
                </form>

                <form action="<%= deny_cat_rental_request_url(request) %>" method="post">
                    <input type="submit" value="Deny">
                </form>
            </td>
            <% end%>
            
        </tr>
    <% end %>
</table>

<% else %>
    <p>No requests yet!!!</p>
<% end%>

<a href="<%= edit_cat_url(@cat) %>">Edit Cat</a>
<br>
<a href="<%= cats_url %>">Home Page</a>
<br>
<a href="<%= new_cat_rental_request_url %>">Make New Request</a>