<!DOCTYPE html>
<html>
  <head>
    <title>Cats99</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>

    <% if current_user %>
      <form action="<%= session_url %>" method="post">
        <input type="hidden" name="_method" value="DELETE">

        <input type="submit" value="Logout">
      </form>
    <% end %>

    <% if flash[:errors] %>
      <ul>
        <% flash[:errors].each do |error|%>
          <li><%= error %></li>
        <% end %>
      </ul>
    <% end%>
  </body>
</html>
